# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- test-develop

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    echo "Pipeline running"
    echo Build.BuildId $(Build.BuildId)
    echo Build.BuildNumber $(Build.BuildNumber)
    echo Build.SourceVersion $(Build.SourceVersion)
    echo Build.SourceBranchName $(Build.SourceBranchName)
  displayName: 'npm install and build'
